<!DOCTYPE html>
<html ng-app="myApp" class="ng-scope">
<head>
   <!-- Meta tags for character set, viewport, etc. -->
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

   <!-- SEO-related meta tags -->
   <meta name="keywords" content="Mustafa Kurtoglu personal website, Istanbul, Turkey, data science, data analytics, data visualization, Mustafa Kurtoglu">
   <meta name="description" content="Mustafa Kurtoglu personal website, Istanbul, Turkey, data science, analytics, and visualization.">

   <!-- Title of the webpage -->
   <title>Mustafa Kurtoglu personal website - data science, researches, data analytics and visualization, AI and ML blog</title>

   <!-- Stylesheets for styling -->
   <link type="text/css" href="/Project/view/public//css/hamburgers.css" rel="stylesheet" media="screen">
   <link type="text/css" href="/Project/view/public//css/slick.css" rel="stylesheet" media="screen">
   <link type="text/css" href="/Project/view/public//css/slick-theme.css" rel="stylesheet" media="screen">
   <link type="text/css" href="/Project/view/public//css/core.css" rel="stylesheet" media="screen">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

   <!-- Favicon for the website -->
   <link rel="icon" type="image/png" href="favicon.png">

   <!-- External scripts, including Google Analytics and AngularJS -->
   <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
   <script type="text/javascript" src="/Project/view/public//js/angular.js"></script>
   <script type="text/javascript" src="/Project/view/public//js/app.js"></script>

   <!-- Internal style to adjust spacing and image size -->
   <style>
      .s-home .ctr {
         padding-top: 20px; /* Adjust the value as needed to reduce the gap between the image and menu items */
      }

      .bg img {
         height: auto; /* Allow the image to resize proportionally */
         max-height: 300px; /* Set the maximum height of the image */
         width: 100%; /* Make the image width cover the whole page */
      }

      .bl-info {
         margin-top: 20px; /* Adjust the value as needed to bring the "About me" section closer to the image */
      }

      .hire_me {
         margin-top: 20px; /* Adjust the value as needed to position the "Contact me" section below the image */
      }

      /* Style for the small picture in the "About me" section */
      .about-me-picture {
         float: left;
         margin-left: 35px; /* Adjust the margin as needed for spacing */
         margin-top: 40px; /* Adjust the value as needed to position the "Contact me" section below the image */
         width: 8%;
         height: auto; /* Maintain aspect ratio */
      }
   </style>
</head>
<body>
   <!-- Header section with navigation and search bar -->
   <div class="wrap">
      <header class="p-header">
         <!-- Logo and navigation menu -->
         <div class="ctr">
            <div class="branding">
               <a href="/">
                  <p><b>Mustafa</b> Kurtoglu</p>
               </a>
            </div>
            <!-- Navigation menu items -->
            <div class="box-menu" id="my-menu">
               <ul class="bl-menu lsn">
                  <!-- Menu items -->
                  <li class="page1"><i class="hover-line"></i><a href="/pages/blog.html">Blog</a></li>
                  <li class="page3"><i class="hover-line"></i><a href="/about">about</a></li>
                  <!-- <li class="page4"><i class="hover-line"></i><a href="/subscribe">subscribe</a></li> -->
                  <li class="page8"><i class="hover-line"></i><a href="/contact">contact</a></li>
               </ul>
            </div>
         </div>
         <!-- Search section -->
         <section class="s-search" id="my-search">
            <!-- Search form -->
            <div class="wrapper">
               <div class="close"></div>
               <div class="box-form ng-scope" id="box_form-search" ng-controller="searchCtrl">
                  <form ng-submit="makeSearch()" id="form_feedback" class="ng-pristine ng-valid">
                     <div class="input-form">
                        <input class="input search_input ng-pristine ng-untouched ng-valid" type="text" placeholder="haker" ng-model="data.q" autofocus="">
                        <button type="submit" class="btn btn-search" id="btn_search" ng-click="makeSearch()"></button>
                     </div>
                     <p class="help ng-binding"></p>
                  </form>
               </div>
            </div>
         </section>
      </header>

      <!-- Main content sections - Home, Publications, Footer, etc. -->
      <section class="s-home">
         <!-- Home section with a title and background image -->
         <div class="ctr">
            <!-- New structure for image on the right, "About me" section, and "Contact me" section -->
            <div class="row">
               <!-- Image on the right -->
               <div class="col-md-6">
                  <div class="bg">
                     <img src="/img/Working_man.png" alt="OPTIMIZE the WORLD through Data" width="100%">
                  </div>
               </div>
               <!-- "About me" section on the left -->
               <div class="col-md-6">
                  <div class="bl-info">
                     <h2>A little about me</h2>
                     <!-- Small picture to the left of text in the "About me" section -->
                     <img class="about-me-picture" src="/img/pic-Mustaf.jpg" alt="Small Picture">
                     <div class="box-info">
                        <p>I'm Mustafa, I live in Istanbul. I am 25 years old. I like travelling, meeting new people seeing new places and cultures. I like reading fantasy books, watching NBA.</p>
                        <p class="small">I'm excited about new challenges as a data scientist or a data-driven business consultant.</p>
                        <!--<a href="/about">More about me</a>!-->
                        <a href="/Project/MustafaKurtoglu_CV.docx" target="_blank">Download my CV</a>
                     </div>
                  </div>
               </div>
               <!-- "Contact me" section on the right below the image -->
               <div class="col-md-6">
                  <div class="hire_me">
                     <h2>Contact me</h2>
                     <p>If you are interested in cooperation or would like to discuss anything, please contact me.</p>
                     <a href="/contact#feel-free-to-contact-me">Send a message</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <!-- JavaScript files for functionality -->
      <script type="text/javascript" src="/Project/view/public//js/dependencies.min.js"></script>
      <script type="text/javascript" src="/Project/view/public//js/jquery.waypoints.js"></script>
      <script type="text/javascript" src="/Project/view/public//js/jquery.mousewheel.js"></script>
      <script type="text/javascript" src="/Project/view/public//js/slick.min.js"></script>
      <script type="text/javascript" src="/Project/view/public//js/angular-slick.min.js"></script>
      <script type="text/javascript" src="/Project/view/public//js/main.js"></script>
   </body>
</html>
