<!doctype html>
<html ng-app="myApp">
                <head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
				<link rel="alternate" href="https://mustafakurtoglu.github.io/Project/" hreflang="x-default">

				<link rel="image_src" href="https://mustafakurtoglu.github.io/Project//view/public/img/bg1-text.png">
				<meta property="og:image" content="https://mustafakurtoglu.github.io/Project/view/public/img/bg1-text.png">
                <meta name="keywords" content="Mustafa Kurtoglu personal website, Istanbul, Turkey, data science, data analytics, data visualization, Andrew Kurochkin solutions, researches, Kurochkin researches, ML blog, AI blog">
                <meta name="description" content="Mustafa Kurtoglu personal website, Istanbul, Turkey,- data science, analytics and visualization. I'm sharing my opinion, researches and tech solutions about AI and ML.">

                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                <meta name="robots" content="index, follow">

                <title>Andrew Kurochkin personal website - data science, researches, data analytics and visualization, AI and ML blog </title>

                <link type="text/css" href="/view/public/css/hamburgers.css" rel="stylesheet" media="screen"><link type="text/css" href="/view/public/css/slick.css" rel="stylesheet" media="screen"><link type="text/css" href="/view/public/css/slick-theme.css" rel="stylesheet" media="screen"><link type="text/css" href="/view/public/css/core.css" rel="stylesheet" media="screen">
                <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
		        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		        <link rel="icon" type="image/png" href="/favicon.png">



                <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" src="/view/public/js/angular.js"></script><script type="text/javascript" src="/view/public/js/app.js"></script>

            </head>

<header class="p-header">
    <div class="ctr">
        <div class="branding">
            <a href="/">
                <p><b>Mustafa</b> Kurtoglu</p>
            </a>
        </div>

        <div id="toggle-menu" class="hamburger hamburger--slider btn-menu">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

        <div id="btn-search">Search</div>

        <div class="box-menu" id="my-menu">
            <ul class="bl-menu lsn">
                <!--<li class="page9"><i class="hover-line"></i><a href="/">home</a></li>-->
                <li class="page1"><i class="hover-line"></i><a href="/blog">blog</a></li>
                <li class="page2"><i class="hover-line"></i><a href="/projects">portfolio</a></li>
                <li class="page3"><i class="hover-line"></i><a href="/about">about</a></li>
                <li class="page8"><i class="hover-line"></i><a href="/contact">contact</a></li>
            </ul>
        </div>
    </div>

    <section class="s-search" id="my-search">
        <div class="wrapper">
            <div class="close"></div>
            <div class="box-form ng-scope" id="box_form-search" ng-controller="searchCtrl">
                <form ng-submit="makeSearch()" id="form_feedback" class="ng-pristine ng-valid">
                    <div class="input-form">
                        <input class="input search_input ng-pristine ng-untouched ng-valid" type="text" placeholder="haker" ng-model="data.q" autofocus="">
                        <button type="submit" class="btn btn-search" id="btn_search" ng-click="makeSearch()">
                    </button></div>
                    <p class="help ng-binding"></p>
                </form>
            </div>
        </div>
    </section>
</header>
<section class="s-home">
				<div class="ctr">
					<div class="ctr-bg">
					  	<h1 contenteditable="true">Bring<br>DATA<br>to Everything</h1>
					</div>
					<div class="bg">
						<img src="bg1-text.png" alt="Bring DATA to Everything">
					</div>
					<div class="bl-info">
						<div class="ctr">
							<h2>A little about me</h2>
							<div class="box-info">
								<p>>I'm Mustafa, I live in Istanbul. I am 25 years old. I like travelling, meeting new people seeing new places and cultures. I like reading fantasy books, watching sports especially nba.</p>
								<p class="small">I'm excited about new challenges as a data scientist or a data-driven business consultant.</p>
								<!--<a href="/about">More about me</a>!-->
								<a href="MustafaKurtoglu_CV.docx" target="_blank">Download my CV</a>

							</div>
							<div class="hire_me">
								<h2>Contact me</h2>
								<p>If you are interested in cooperation or would like to discuss anything, please contact me.</p>
								<a href="/contact#feel-free-to-contact-me">Send a message</a>
							</div>
						</div>
					</div>

					<div class="bl-slider_index slick-initialized slick-slider slick-dotted">
						<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 10615px; transform: translate3d(-965px, 0px, 0px);"><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div><div class="item item-slider article_item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 965px;">
							<img src="/view/public/img/home/1.png" alt="Panacea - ambulance statistical, analytics and reporting system">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 965px;">
							<img src="/view/public/img/home/2.png" alt="Design data flow architecture">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 965px;">
							<img src="/view/public/img/home/3.png" alt="Data-processing dashboard">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" style="width: 965px;">
							<img src="/view/public/img/home/4.png" alt="Software for optimization processes in the worldwide company">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control04" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/1.png" alt="Panacea - ambulance statistical, analytics and reporting system">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/2.png" alt="Design data flow architecture">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/3.png" alt="Data-processing dashboard">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/4.png" alt="Software for optimization processes in the worldwide company">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div></div></div>




					<ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 5" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 5" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 5" tabindex="-1">3</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 5" tabindex="-1">4</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="5 of 5" tabindex="-1">5</button></li></ul></div>
			    </div>
			</section>

<section class="s-home">
				<div class="ctr">
					<div class="ctr-bg">
					  	<h1 contenteditable="true">OPTIMIZE<br>WORLD<br>through Data</h1>
					</div>
					<div class="bg">
						<img src="/view/public/img/bg1-text.png" alt="OPTIMIZE the WORLD through Data">
					</div>
					<div class="bl-info">
						<div class="ctr">
							<h2>A little about me</h2>
							<div class="box-info">
								<p>I am a data scientist and a researcher. My passion is working with hidden pattern recognition, data mining and dataviz. My goal is to optimize world processes by using data.</p>
								<p class="small">I'm excited about new challenges as a data scientist or a data-driven business consultant.</p>
								<!--<a href="/about">More about me</a>!-->
								<a href="/media/doc/CV_Andrew_Kurochkin.pdf" target="_blank">Download my CV</a>

							</div>
							<div class="hire_me">
								<h2>Contact me</h2>
								<p>If you are interested in cooperation or would like to discuss anything, please contact me.</p>
								<a href="/contact#feel-free-to-contact-me">Send a message</a>
							</div>
						</div>
					</div>

					<div class="bl-slider_index slick-initialized slick-slider slick-dotted">
						<div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 10615px; transform: translate3d(-965px, 0px, 0px);"><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div><div class="item item-slider article_item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 965px;">
							<img src="/view/public/img/home/1.png" alt="Panacea - ambulance statistical, analytics and reporting system">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 965px;">
							<img src="/view/public/img/home/2.png" alt="Design data flow architecture">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 965px;">
							<img src="/view/public/img/home/3.png" alt="Data-processing dashboard">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" style="width: 965px;">
							<img src="/view/public/img/home/4.png" alt="Software for optimization processes in the worldwide company">
						</div><div class="item item-slider article_item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide04" aria-describedby="slick-slide-control04" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/1.png" alt="Panacea - ambulance statistical, analytics and reporting system">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/2.png" alt="Design data flow architecture">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/3.png" alt="Data-processing dashboard">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="8" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/4.png" alt="Software for optimization processes in the worldwide company">
						</div><div class="item item-slider article_item slick-slide slick-cloned" data-slick-index="9" aria-hidden="true" tabindex="-1" style="width: 965px;">
							<img src="/view/public/img/home/5.png" alt="Customer behavior analytics">
						</div></div></div>




					<ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 5" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 5" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 5" tabindex="-1">3</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03" aria-controls="slick-slide03" aria-label="4 of 5" tabindex="-1">4</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control04" aria-controls="slick-slide04" aria-label="5 of 5" tabindex="-1">5</button></li></ul></div>
			    </div>
			</section>