

<!doctype html>
<html ng-app="myApp">

            <head>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<link rel="alternate" href="https://andrewkurochkin.com" hreflang="x-default">
				<link rel="canonical" href="https://andrewkurochkin.com/blog"/>


                <meta name="keywords" content="Andrew Kurochkin blog, blog about AI, blog about data science, data science blog, dataviz blog, researches, ML blog, AI blog" />
                <meta name="description" content="Andrew Kurochkin’s personal blog about AI, data science, researches, analytics, data visualization, software development tips & tricks"  />

                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
                <meta name="robots" content="index, follow" />

                <title>Andrew Kurochkin personal blog - news about AI and ML, researches, tech solutions, events, data science, opinion </title>

                <link type="text/css" href="/view/public/css/hamburgers.css" rel="stylesheet" media="screen" /><link type="text/css" href="/view/public/css/animate.css" rel="stylesheet" media="screen" /><link type="text/css" href="/view/public/css/core.css" rel="stylesheet" media="screen" />
                <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">
		        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		        <link rel="icon" type="image/png" href="/favicon.png">



                <script type="text/javascript" src="/view/public/js/angular.js"></script><script type="text/javascript" src="/view/public/js/app.js"></script>

            </head>

	<body>		<div class="wrap">
      <header class="p-header">
    <div class="ctr">
        <div class="branding">
            <a href="/">
                <p><b>aa</b> Kurochkin</p>
            </a>
        </div>

        <div id="toggle-menu" class="hamburger hamburger--slider btn-menu">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>

        <div id="btn-search">Search</div>

        <div class="box-menu" id="my-menu">
            <ul class="bl-menu lsn">
                <!--<li class="page9"><i class="hover-line"></i><a href="/">home</a></li>-->
                <li class="page1"><i class="hover-line"></i><a href="/blog">blog</a></li>
                <li class="page2"><i class="hover-line"></i><a href="/portfolio">portfolio</a></li>
                <li class="page11"><i class="hover-line"></i><a href="/photo">photo</a></li>
                <li class="page3"><i class="hover-line"></i><a href="/about">about</a></li>
<!--                 <li class="page4"><i class="hover-line"></i><a href="/subscribe">subscribe</a></li> -->
                <li class="page8"><i class="hover-line"></i><a href="/contact">contact</a></li>
            </ul>
        </div>
    </div>

    <section class="s-search" id="my-search">
        <div class="wrapper">
            <div class="close"></div>
            <div class="box-form" id="box_form-search" ng-controller="searchCtrl">
                <form ng-submit="makeSearch()" id="form_feedback">
                    <div class="input-form">
                        <input class="input search_input" type="text" placeholder="haker" ng-model="data.q" autofocus>
                        <button type="submit" class="btn btn-search" id="btn_search" ng-click="makeSearch()">
                    </div>
                    <p class="help">{{resultMSG}}</p>
                </form>
            </div>
        </div>
    </section>
</header>
			<section class="s-blog" rel="main">
				<div class="ctr">
					<div class="box-title">
						<a href="/blog"><h1>Blog</h1></a>
						<h2>Posts about data science, AI, ML and other.</h2>
					</div>

					<div class="bl-tag">
						<div class="btn-tag">Tag filter:</div>
						<ul class="lsn" id="bl_tag">
            	<li class="active"><a href="/blog">all</a></li><li><a href="/blog?tag=own product">own product</a></li><li><a href="/blog?tag=tips and tricks">tips and tricks</a></li><li><a href="/blog?tag=blogging">blogging</a></li><li><a href="/blog?tag=photo">photo</a></li><li><a href="/blog?tag=computational social science">Computational Social Science</a></li><li><a href="/blog?tag=logistics">logistics</a></li><li><a href="/blog?tag=blog">blog</a></li><li><a href="/blog?tag=motivation">motivation</a></li><li><a href="/blog?tag=traveling">traveling</a></li><li><a href="/blog?tag=berlin">Berlin</a></li><li><a href="/blog?tag=css">CSS</a></li><li><a href="/blog?tag=snippet">snippet</a></li><li><a href="/blog?tag=how to">how to</a></li><li><a href="/blog?tag=aesthetics">aesthetics</a></li><li><a

                                href="/blog?tag=bordeaux">Bordeaux</a></li><li><a href="/blog?tag=teaching">teaching</a></li><li><a href="/blog?tag=regex">regex</a></li><li><a href="/blog?tag=urban">urban</a></li><li><a href="/blog?tag=france">France</a></li><li><a href="/blog?tag=kma">KMA</a></li><li><a href="/blog?tag=architecture">architecture</a></li><li><a href="/blog?tag=trip report">trip report</a></li>						</ul>
					</div>

					<ul class="lsn masonry container">
          	<li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/computational-social-science-course">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_44.png" alt="Computational Social Science course"></div>
      								<h3>Computational Social Science course</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">February 14, 2023</div>
      									<div class="time">2 min read</div>
      								</div>
      								<p class="fade">
      									I have taught Computational Social Science at the National University of Kyiv-Mohyla Academy (est. in 1615) since 2022. Course descriptionComputational social science refers to the academic sub-disciplines concerned with computational approaches to the social sciences. It investigates social and behavioural dynamics through social simulation, (social) network analysis, and social media analysis.
      								</p>
      							</div>
      						</div>
                  </li><li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/bordeaux-the-gorgeous-cliche-about-france">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_18.png" alt="Bordeaux - the gorgeous cliche about France"></div>
      								<h3>Bordeaux - the gorgeous cliche about France</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">September 20, 2020</div>
      									<div class="time">9 min read</div>
      								</div>
      								<p class="fade">
      									Hi dear readers,
 I'm happy to finally finish the post about my trip to France in 2019.

First of all I thank Kate, Philipe, and Loïc - people who created bright explosion of happiness in the year where only hard work and lack of sleep were my life.
This post is full of pictures of the beautiful pieces of the Bordeaux region, France.
During the trip, we visited the Bordeaux region, Saint-Émilion - one of the principal red wine areas of Bordeaux, Pessac - place where my friend Philipe lives, Arcachon - "oysters capital" and big resort, and Bordeaux city itself.

      								</p>
      							</div>
      						</div>
                  </li><li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/the-beauty-of-berlin">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_15.png" alt="The beauty of German aesthetic - Die Hauptstadt"></div>
      								<h3>The beauty of German aesthetic - Die Hauptstadt</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">January 10, 2019</div>
      									<div class="time">5 min read</div>
      								</div>
      								<p class="fade">
      									I have visited Berlin during the new year holidays at 2018-2019.Here I share photos, these pictures show different aspects of the city and give you piece of the Berlin atmosphere.
      								</p>
      							</div>
      						</div>
                  </li><li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/code-for-recognizing-delivery-company-by-track">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_11.png" alt="The code for recognizing delivery company by tracking number"></div>
      								<h3>The code for recognizing delivery company by tracking number</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">March 29, 2018</div>
      									<div class="time">4 min read</div>
      								</div>
      								<p class="fade">
      									In this post I'm going to offer you a solution that recognizes a delivery company by tracking number. All companies use their own tracking number format, so I have created special regular expressions for all of them. I read about formats in the official documentation of delivery companies. This solution works for the following services:UPSUSPSFedEX
      								</p>
      							</div>
      						</div>
                  </li><li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/how-to-make-your-own-website">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_2.png" alt="How to make your own website"></div>
      								<h3>How to make your own website</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">March 23, 2018</div>
      									<div class="time">5 min read</div>
      								</div>
      								<p class="fade">
      									In this post I'm going to reveal the magic of site development and tell you how I have created my own one.IntroductionI have been working in web development industry for 6 years, however it was completely new experience when I became a customer. I was surprised to discover new aspects in this process.In my experience, creating a site consists of 8 steps (it's almost a typical pipeline).Planning. Creating requirements specificationA customer describes the main requirements of the future site, his preferences, gives references that he likes. After that, engineers and people involved in the project create a detailed specification of requirements that describes the customer's desire more formally.This is the most important stage of the site creation as it’s the foundation of the future solution.I put both hats - customer's and project manager's (PM) on my head, so I could describe my vision in details).
      								</p>
      							</div>
      						</div>
                  </li><li class="item-masonry post persent-size">
      						<div class="item item-slider article_item">
      							<a class="link" href="/blog/why-i-ve-created-a-blog">
      								<div class="bl-foto"><img src="/media/img/post/preview/m_2p5x_1.png" alt="Why I’ve created a blog"></div>
      								<h3>Why I’ve created a blog</h3>
      							</a>

      							<div class="bl-info ">
      								<div class="bl-date_time">
      									<div class="date">March 17, 2018</div>
      									<div class="time">3 min read</div>
      								</div>
      								<p class="fade">
      									Hello reader, this is my first post. Let me explain reasons for creating this website and why it might be useful for you.Research and developmentI will be publishing my data research, visualization and code to reproduce them. Also, I will be describing various problems and suggesting how they can be solved.
      								</p>
      							</div>
      						</div>
                  </li>					</ul>

        				   </div>
			</section>


<footer class="p-footer">
    <div class="ctr">
        <div class="full-info">
            <div class="branding">
                <div class="title">Andrew <span>Kurochkin</span></div>
                <p>Lviv, Ukraine<br>me(at)andrewkurochkin.com</p>
            </div>
            <div class="bl-stay" ng-controller="subscriptionCtrl">
                <div class="box">
                    <div class="title">Stay tuned</div>
                    <p>Join 131 other followers and sign up to receive the latest news from me.</p>
                    <div class="form-footer">
                        <form>
                            <input type="text" ng-model="data.email" placeholder="Enter your Email here">
                            <input class="btn-subscribe" type="submit" ng-click="makeSubscription(1, 'f')" value="Subscribe">
                        </form>
                        <span>{{resultMSG}}</span>
                    </div>
                </div>
                <div class="bl-report" id="report_footer">
                    <span class="title">Thank You!</span>
                    <p>{{resultMSG}}</p>
                </div>
            </div>
        </div>

        <div class="bl-soc_adress">
            <div class="soc">
                <ul class="lsn bl-social">
                    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/sangreel/">linkedin</a></li>
                    <li class="github"><a target="_blank" href="https://github.com/SanGreel">github</a></li>
                    <li class="telegram"><a target="_blank" href="https://t.me/s/film1319">film photo</a></li>
<!--
                    <li class="kaggle"><a target="_blank" href="https://www.kaggle.com/sangreel">kaggle</a></li>
                    <li class="telegram"><a target="_blank" href="https://t.me/akurochkin">telegram</a></li>
-->
                </ul>
            </div>
        </div>
    </div>
</footer>
		</div>

    <script type="text/javascript" src="/view/public/js/jquery-1.11.3.min.js"></script><script type="text/javascript" src="/view/public/js/masonry_ak_own.pkgd.min.js"></script><script type="text/javascript" src="/view/public/js/jquery.viewportchecker.min.js"></script><script type="text/javascript" src="/view/public/js/jquery.validate.min.js"></script><script type="text/javascript" src="/view/public/js/blog.js"></script><script type="text/javascript" src="/view/public/js/core.js"></script>
			<script async src='https://www.googletagmanager.com/gtag/js?id=UA-124921497-1'></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-124921497-1');
			</script>

    <script>
        setActiveMenuElement('page', 1);
    </script>
	</body>
</html>
