<!doctype html>
<html ng-app="myApp">

<head>
    <!-- Meta tags for character set, alternate link, keywords, and description -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" href="https://andrewkurochkin.com" hreflang="x-default">

    <!-- Meta tags for SEO -->
    <meta name="keywords" content="contact data scientist, contact data analytic, contact Mustafa Kurtoglu, contact researcher, Mustafa Kurtoglu's contacts" />
    <meta name="description" content="Contact professional data scientist and analytic - Mustafa Kurtoglu. Researching and visualization for your data" />

    <!-- Viewport settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />

    <!-- Title for the webpage -->
    <title>Contact Mustafa Kurtoglu - data scientist, researcher and data analytic </title>

    <!-- Stylesheets -->
    <link type="text/css" href="/view/public/css/hamburgers.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="/view/public/css/slick.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="/view/public/css/slick-theme.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="/view/public/css/core.css" rel="stylesheet" media="screen" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- Viewport settings again -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- AngularJS scripts -->
    <script type="text/javascript" src="/view/public/js/angular.js"></script>
    <script type="text/javascript" src="/view/public/js/app.js"></script>

</head>

<body>
    <div class="wrap">

    <!-- Header section -->
    <div class="wrap">
        <header class="p-header">
            <!-- Navigation and branding elements -->
                     <!-- Logo and navigation menu -->
         <div class="ctr">
            <div class="branding">
               <a href="../index.html">
                  <p><b>Mustafa</b> Kurtoglu</p>
               </a>
            </div>
            <!-- Hamburger menu button -->
            <div id="toggle-menu" class="hamburger hamburger--slider btn-menu">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>

             <!-- Navigation menu items -->
            <div class="box-menu" id="my-menu">
               <ul class="bl-menu lsn">
                  <!-- Menu items -->
                  <li class="page1"><i class="hover-line"></i><a href="blog.html">Blog</a></li>
                  <li class="page3"><i class="hover-line"></i><a href="about.html">About me</a></li>
                  <!-- <li class="page4"><i class="hover-line"></i><a href="/subscribe">subscribe</a></li> -->
                  <li class="page8"><i class="hover-line"></i><a href="contact.html">Contact</a></li>
               </ul>
            </div>
        </header>

        <!-- Search section -->
        <section class="s-search" id="my-search">
            <!-- Search form -->
            <div class="wrapper">
                <div class="close"></div>
                <div class="box-form" id="box_form-search" ng-controller="searchCtrl">
                    <form ng-submit="makeSearch()" id="form_feedback">
                        <div class="input-form">
                            <input class="input search_input" type="text" placeholder="haker" ng-model="data.q" autofocus>
                            <button type="submit" class="btn btn-search" id="btn_search" ng-click="makeSearch()"></button>
                        </div>
                        <p class="help">{{resultMSG}}</p>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- About section -->
    <section class="s-about" rel="main">
        <div class="ctr">
            <!-- Title and introduction -->
            <div class="box-title">
                <h1>About</h1>
                <h2>I am a data specialist. My passion is work with hidden pattern recognition, find insights and guide the processes towards the optimum.</h2>
            </div>

            <!-- Personal information and biography -->
            <div class="bl-info_dev">
            <div class="bl-foto" style="position: relative; background: #001f3f; height: 550px;"></div>
                <div class="info">
                    <h2>Mustafa Kurtoglu</h2>
                    <p>My goal is to optimize world processes by using data. If you are interested in cooperation or would like to discuss anything, please <a href="contact.html">contact me</a>.</p>
                    <p class="city">Istanbul, Turkey<br>mustafa.kurtogluu97@gmail.com</p>
                    <p><a href="../MustafaKurtoglu_CV.docx" target="_blank">Download my CV</a></p>
                </div>
            </div>

            <!-- Detailed information about education, skills, tools, hobbies, and links -->
            <div class="bl-full_info">
                <!-- Left column with education, skills, and tools -->
                <div class="ctr-l">
                    <div class="title">Education</div>
                    <!-- Education details -->
                    <div class="item">
                        <span>Smart System's Engineering / Master's degree</span>
                        <p>Galatasaray University</p>
                        <p>2021 - 2023</p>
                    </div>
                    <div class="item">
                        <span>Industrial Engineering / Bachelor's degree</span>
                        <p>Yildiz Technical University</p>
                        <p>2015 - 2020</p>
                    </div>

                    <div class="title">Skills</div>
                    <!-- Skills details -->
                    <div class="item">
                        <p>SQL<br/> Python<br/> Data Analysis<br/>  -PowerBI<br/>  -Tableau<br/>  ETL Processes<br/>  -Azure Data Factory<br/>  -SSIS<br/>  Data Modelling<br/>  -SSAS<br/>  -Azure Synapse<br/> Big Data Framework<br/>  -Hadoop<br/</p>
                    </div>

                    <div class="title">Tools & Frameworks</div>
                    <!-- Tools and frameworks details -->
                    <div class="item">
                        <p>
                            Python<br/>
                            BQ, AWS, MSSQL<br/>
                            Linux<br/>
                            BI (PowerBI, Tableau)<br/>
                        </p>
                    </div>
                    <!-- Additional tools and frameworks details -->
                    <!-- ... -->

                    <div class="title">Hobbies</div>
                    <!-- Hobbies details -->
                    <div class="item">
                    </div>
                </div>

                <!-- Right column with work experience, other activities, and slider -->
                <div class="ctr-r">
                    <div class="title">Work</div>
                    <!-- Work experience details -->
                    <div class="item">
                        <span>Data Analyst</span>
                        <p>Getir<br/>10/2022 - present</p>
                    </div>
                    <div class="item">
                        <span>Big Data Engineer</span>
                        <p>Huawei<br/>10/2021 - 10/2022</p>
                    </div>
                    <div class="item">
                        <span>Data & BI Specialist</span>
                        <p>Huawei<br/>10/2020 - 10/2021</p>
                    </div>

                    <div class="title">Other activities</div>
                    <!-- Other activities details -->
                    <div class="item">
                        <p>
                        </p>
                        <!-- Additional details -->
                        <!-- ... -->
                    </div>

                </div>
            </div>
        </div>
    </section>
       <!-- Footer Section -->
        <footer class="p-footer">
            <div class="ctr">
                <!-- Full information with Mustafa Kurtoglu's name -->
                <div class="full-info">
                    <div class="branding">
                        <div class="title">Mustafa <span>Kurtoglu</span></div>
                        <p>Istanbul, Turkey<br>mustafa.kurtogluu97@gmail.com</p>
                    </div>
                    <div class="bl-stay" ng-controller="subscriptionCtrl">
                        <div class="box">
                            <div class="title">Stay tuned</div>
                            <p>Join 131 other followers and sign up to receive the latest news from me.</p>
                            <div class="form-footer">
                                <form>
                                    <input type="text" ng-model="data.email" placeholder="Enter your Email here">
                                    <input class="btn-subscribe" type="submit" ng-click="makeSubscription(1, 'f')" value="Subscribe">
                                </form>
                                <span>{{resultMSG}}</span>
                            </div>
                        </div>
                        <div class="bl-report" id="report_footer">
                            <span class="title">Thank You!</span>
                            <p>{{resultMSG}}</p>
                        </div>
                    </div>
                </div>

            <!-- Social and contact information -->
            <div class="bl-soc_adress">
                <div class="soc">
                    <!-- Social links -->
                    <ul class="lsn bl-social">
                        <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mustafa-kurtoglu-84a377138/">linkedin</a></li>

                        <!-- ... -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- External JavaScript files -->
    <script type="text/javascript" src="/view/public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/view/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/view/public/js/slick.min.js"></script>
    <script type="text/javascript" src="/view/public/js/anchor.min.js"></script>
    <script type="text/javascript" src="/view/public/js/about.js"></script>
    <script type="text/javascript" src="/view/public/js/core.js"></script>
    <!-- Google Analytics script -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-124921497-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-124921497-1');
    </script>
    <!-- Set active menu element using custom script -->
    <script>
        setActiveMenuElement('page', 3);
    </script>
</body>

</html>
