<!doctype html>
<html ng-app="myApp">

<head>
    <!-- Meta tags for character set, alternate link, keywords, and description -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" href="https://andrewkurochkin.com" hreflang="x-default">

    <!-- Meta tags for SEO -->
    <meta name="keywords" content="contact data scientist, contact data analytic, contact Mustafa Kurtoglu, contact researcher, Mustafa Kurtoglu's contacts" />
    <meta name="description" content="Contact professional data scientist and analytic - Mustafa Kurtoglu. Researching and visualization for your data" />

    <!-- Viewport settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />

    <!-- Title for the webpage -->
    <title>Contact Mustafa Kurtoglu - data scientist, researcher and data analytic </title>

    <!-- Stylesheets -->
    <link type="text/css" href="../view/public/css/hamburgers.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="../view/public/css/slick.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="../view/public/css/slick-theme.css" rel="stylesheet" media="screen" />
    <link type="text/css" href="../view/public/css/core.css" rel="stylesheet" media="screen" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,700,700i,800,900&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" rel="stylesheet">

    <!-- Viewport settings again -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- AngularJS scripts -->
    <script type="text/javascript" src="/view/public/js/angular.js"></script>
    <script type="text/javascript" src="/view/public/js/app.js"></script>

</head>

<body>
    <div class="wrap">

    <!-- Header section -->
    <div class="wrap">
        <header class="p-header">
            <!-- Navigation and branding elements -->
                     <!-- Logo and navigation menu -->
         <div class="ctr">
            <div class="branding">
               <a href="../index.html">
                  <p><b>Mustafa</b> Kurtoglu</p>
               </a>
            </div>
            <!-- Hamburger menu button -->
            <div id="toggle-menu" class="hamburger hamburger--slider btn-menu">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>

             <!-- Navigation menu items -->
            <div class="box-menu" id="my-menu">
               <ul class="bl-menu lsn">
                  <!-- Menu items -->
                  <li class="page1"><i class="hover-line"></i><a href="blog.html">Blog</a></li>
                  <li class="page3"><i class="hover-line"></i><a href="about.html">About me</a></li>
                  <!-- <li class="page4"><i class="hover-line"></i><a href="/subscribe">subscribe</a></li> -->
                  <li class="page8"><i class="hover-line"></i><a href="contact.html">Contact</a></li>
               </ul>
            </div>
        </header>

        <!-- Search section -->
        <section class="s-search" id="my-search">
            <!-- Search form -->
            <div class="wrapper">
                <div class="close"></div>
                <div class="box-form" id="box_form-search" ng-controller="searchCtrl">
                    <form ng-submit="makeSearch()" id="form_feedback">
                        <div class="input-form">
                            <input class="input search_input" type="text" placeholder="haker" ng-model="data.q" autofocus>
                            <button type="submit" class="btn btn-search" id="btn_search" ng-click="makeSearch()"></button>
                        </div>
                        <p class="help">{{resultMSG}}</p>
                    </form>
                </div>
            </div>
        </section>
    </div>

        <!-- Contact Section -->
        <section class="s-hire_me" rel="main">
            <div class="ctr">
                <div class="box-title">
                    <!-- Title with Mustafa Kurtoglu's name -->
                    <h1>Contact</h1>
                    <h2>New connections open the door to new opportunities.</h2>
                </div>
                <div class="bl-info" style="
                background: url('/view/public/img/contact.png') 50% 50% no-repeat;
                background-size: 100%;
                height: 290px;
                margin: 0 -15px;
                padding: 50px 15px 10px;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                                        ">

                    <div class="title">Contact me</div>
                </div>

                <!-- Contact form and information -->
                <div class="bl-question">
                    <div class="c-l">
                        <div class="box">
                            <h2>Feel free to contact me</h2>
                            <p>If you are interested in cooperation or would like to discuss anything, please contact me.<br /><br />
                                <b>mustafa.kurtogluu97@gmail.com</b> or fill in the contact form below.</p>
                        </div>

                        <!-- Contact form -->
                        <section class="s-form" ng-controller="contactCtrl">
                            <div class="box-form">
                                <form ng-submit="sendMessage()" id="form_contact">
                                    <input class="name" type="text" ng-model="data.name" placeholder="Name">
                                    <input class="mail" type="text" ng-model="data.email" placeholder="Your E-mail">

                                    <textarea class="message" ng-model="data.text" placeholder="Message"></textarea>

                                    <p class="help">{{resultMSG}}</p>
                                    <input class="btn-send" type="submit" ng-click="sendMessage()" value="Send">
                                </form>
                            </div>

                            <!-- Confirmation message after sending the form -->
                            <div class="bl-report" id="report_contact">
                                <span class="title">Thank You!</span>
                                <p>{{resultMSG}}</p>
                            </div>
                        </section>
                    </div>

                    <div class="c-r">
                        <div class="box">
                            <h2>CV</h2>
                            <!-- Link to download CV with Mustafa Kurtoglu's name -->
                            <a href="/media/doc/CV_Mustafa_Kurtoglu.pdf" target="_blank" class="red-underline">Download PDF</a>
                        </div>

                        <div class="box">
                            <h2>Links</h2>

                            <!-- Social links with Mustafa Kurtoglu's name -->
                            <a href="https://www.linkedin.com/in/mustafa-kurtoglu-84a377138/?originalSubdomain=tr" target="_blank">linkedin</a><br />                           <!--
                                <a href="https://www.kaggle.com/sangreel">kaggle</a><br/>
                                <a href="https://t.me/akurochkin">telegram</a><br/>
                            -->
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section -->
        <footer class="p-footer">
            <div class="ctr">
                <!-- Full information with Mustafa Kurtoglu's name -->
                <div class="full-info">
                    <div class="branding">
                        <div class="title">Mustafa <span>Kurtoglu</span></div>
                        <p>Istanbul, Turkey<br>mustafa.kurtogluu97@gmail.com</p>
                    </div>
                    <div class="bl-stay" ng-controller="subscriptionCtrl">
                        <div class="box">
                            <div class="title">Stay tuned</div>
                            <p>Join 131 other followers and sign up to receive the latest news from me.</p>
                            <div class="form-footer">
                                <form>
                                    <input type="text" ng-model="data.email" placeholder="Enter your Email here">
                                    <input class="btn-subscribe" type="submit" ng-click="makeSubscription(1, 'f')" value="Subscribe">
                                </form>
                                <span>{{resultMSG}}</span>
                            </div>
                        </div>
                        <div class="bl-report" id="report_footer">
                            <span class="title">Thank You!</span>
                            <p>{{resultMSG}}</p>
                        </div>
                    </div>
                </div>

                <!-- Social and address information -->
                <div class="bl-soc_adress">
                    <div class="soc">
                        <ul class="lsn bl-social">
                            <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/mustafa-kurtoglu-84a377138/">linkedin</a></li>

                            <!--
                                <li class="kaggle"><a target="_blank" href="https://www.kaggle.com/sangreel">kaggle</a></li>
                                <li class="telegram"><a target="_blank" href="https://t.me/akurochkin">telegram</a></li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- JavaScript files -->
    <script type="text/javascript" src="/view/public/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/view/public/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/view/public/js/slick.min.js"></script>
    <script type="text/javascript" src="/view/public/js/anchor.min.js"></script>
    <script type="text/javascript" src="/view/public/js/about.js"></script>
    <script type="text/javascript" src="/view/public/js/core.js"></script>

    <!-- Google Analytics script -->
    <script async src='https://www.googletagmanager.com/gtag/js?id=UA-124921497-1'></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-124921497-1');
    </script>

    <!-- Script to set the active menu element -->
    <script>
        setActiveMenuElement('page', 8);
    </script>
</body>

</html>
